
body {
  background-color: antiquewhite;
}

.card-body {
  text-align: center ; 
  margin: 10px ;
    padding: 10px;
}

.text-hour {
    text-align: center; 
    font-size: 1.2em; 
  color: #c212ea; 
    font-weight: bold; 
}


.card {
  height: 300px;
  overflow: hidden;
  background-color: #e0e7e8;     
  border: 1px solid #5a526e;     
  border-radius: 12px;          
  box-shadow: 0 4px 10px rgba(0,0,0,0.08); 
}

.card img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}
